@page "/Admin/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using RVParking.Components.Account
@using RVParking.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext ApplicationDbContext
@* @inject Bkg_UserService Bkg_UserService  *@


<PageTitle>Administration</PageTitle>

<h3>Administration</h3>

<AuthorizeView Roles="Admin">
    <NotAuthorized> 
        <div class="tab-content" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h4>- You are NOT AUTHORIZED -</h4>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <section class="card-list product-list">
            <a class="card">
                <div class="card-content">
                    <img src="images/website-management-diagram.jpg" alt="https://via.placeholder.com/400" class="card-img" />
                    <h2 class="title">The sub menu allows <b>Admin Users</b> to manage this site.</h2>
                    <small>
                        Care MUST be taking when using these menu items. Data is not backed up before changes and NO EDITS can be undone once committed. Restoring the live system is a difficult task so be very very careful please.
                    </small>
                </div>
            </a>
        </section>
    </Authorized>

</AuthorizeView>


@* <div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control" placeholder="Choose your username." disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" id="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                <label for="Input.PhoneNumber" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstNames" id="Input.FistNames" class="form-control" placeholder="Enter your First Names" />
                <label for="Input.FirstNames" class="form-label">First Names</label>
                <ValidationMessage For="() => Input.FirstNames" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" id="Input.LastName" class="form-control" placeholder="Enter your Last Name" />
                <label for="Input.LastName" class="form-label">Last Name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.NZMCA" id="Input.NZMCA" class="form-control" placeholder="Enter your NZMCA# else 'none'" />
                <label for="Input.NZMCA" class="form-label">NZMCA</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="Input.Address" id="Input.Address" class="form-control" placeholder="Enter your Address" />
                <label for="Input.City" class="form-label">Address</label>
                <ValidationMessage For="() => Input.Address" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Zip" id="Input.Zip" class="form-control" placeholder="Enter your Zip" />
                <label for="Input.City" class="form-label">Zip Code</label>
                <ValidationMessage For="() => Input.Zip" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.City" id="Input.City" class="form-control" placeholder="Enter your City" />
                <label for="Input.City" class="form-label">City</label>
                <ValidationMessage For="() => Input.City" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Country" id="Input.Country" class="form-control" placeholder="Enter your Country" />
                <label for="Input.Country" class="form-label">Country</label>
                <ValidationMessage For="() => Input.Country" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>
 *@
@code {


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;



   


}
