@page "/Account/Manage/DeletePersonalData"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using RVPark.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<DeletePersonalData> Logger
@inject ApplicationDbContext DbContext

<PageTitle>Delete Personal Data</PageTitle>

@if (!string.IsNullOrEmpty(message))
{
    var statusMessageClass = message.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @message
    </div>
}

<h3>Delete Personal Data</h3>

@if (user == null)
{
    <p>Loading...</p>
}
else
{
    <div class="alert alert-warning" role="alert">
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>

    <div>
        <EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            @if (requirePassword)
            {
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                    <label for="Input.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
            }
            <button class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
        </EditForm>
    </div>
}

@code {
    private string? message;
    private ApplicationUser? user;
    private Bkg_User? bkg_User;
    private bool requirePassword;

    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity?.IsAuthenticated != true)
        {
            NavigationManager.NavigateTo("Account/Login");
            return;
        }

        user = await UserManager.GetUserAsync(claimsPrincipal);
        if (user == null)
        {
            NavigationManager.NavigateTo("Account/InvalidUser");
            return;
        }

        requirePassword = await UserManager.HasPasswordAsync(user);
        bkg_User = await DbContext.GetBkgUserByAppUserIdAsync(user.Id);
    }

    private async Task OnValidSubmitAsync()
    {
        if (user == null) return;

        if (requirePassword && !await UserManager.CheckPasswordAsync(user, Input.Password))
        {
            message = "Error: Incorrect password.";
            return;
        }

        bool hasBookings = false;
        bool hasReviews = false;

        if (bkg_User != null)
        {
            hasBookings = await DbContext.BookingAnyAsync(bkg_User.UserId);
            hasReviews = await DbContext.ReviewAnyAsync(bkg_User.UserId);
        }

        if (hasBookings || hasReviews)
        {
            message = "Error: Cannot delete user with existing bookings, properties, or reviews.";
            return;
        }

        var userId = await UserManager.GetUserIdAsync(user);

        var result = await UserManager.DeleteAsync(user);
        if (!result.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred deleting user.");
        }

        if (bkg_User != null)
        {
            var result1 = await DbContext.DeleteBkgUserAsync(bkg_User.UserId);
            if (result1 == null)
            {
                throw new InvalidOperationException("Unexpected error occurred deleting bkg user.");
            }
        }

        await SignInManager.SignOutAsync();

        Logger.LogInformation("User with ID '{UserId}' deleted themselves.", userId);

        NavigationManager.NavigateTo("/");
    }

    private sealed class InputModel
    {
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";
    }
}
