@inherits LayoutComponentBase
@layout RVPark.Components.Layout.MainLayout

<h1>Site Administration</h1>

<div>
    <h2>Administration. Manage this site</h2>
    <hr />
    <div class="row">
        <div class="col-lg-2">
            <AdminNavMenu />
        </div>
        <div class="col-lg-10">
            @Body
        </div>
    </div>
</div>
