@page "/bkgmmtmainlayout"

@inherits LayoutComponentBase


<h1>Manage your Bookings</h1>  

<div>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <BkgMmtNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>

@code {

}
