@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@* @rendermode InteractiveServer *@
@* @implements IDisposable
 *@
@inject RVPark.Services.Environment.IEnvironmentInfoService EnvInfo

@inherits LayoutComponentBase

@if (@featureMenuType == "SideMenu")
{
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <article class="content px-4"> *@
        <article class="content">
                @Body
        </article>
    </main>
</div>
}
else if (@featureMenuType == "TopMenu")
{
    <NavBar />

    <main>
        @* <article class="content px-4"> *@
        <article class="content">
            @Body
        </article>
    </main>
}
else if (@featureMenuType == "PopOutLeft")
{
    <NavBarOffCMenu />

    <main>
        @* <article class="content px-4"> *@
        <article class="content">
            @Body
        </article>
    </main>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            @* <article class="content px-4"> *@
            <article class="content">
                @Body
            </article>
        </main>
    </div>
}


@code {
    private bool MenuSidebar = false;
    private string? featureMenuType = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        featureMenuType = EnvInfo.FeatureMenuType;// You can add any initialization logic here if needed
    }

}