
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(-100%);
        }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: darkolivegreen;
}

    .nav-underline .nav-link:hover {
        color: #007bff;
    }

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #6f42c1;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.navbar {
    background-color: darkgreen !important;
}
.nav-item {
    font-size: 0.9rem;
}
.nav-link{
    color:white !important;
}

.top-row {
    min-height: 3.5rem;
    background-color: darkgreen;
    /*background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand {
    font-size: 1.1rem;
    background-color: darkgreen;
}


.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
    background-image: linear-gradient( darkgreen, darkolivegreen );
}

.navbar {
    background-color: darkgreen !important;
}
.offcanvas-body {
    color: aliceblue !important;
    background-color: darkgreen !important;
}
/* More specific selector */
div.offcanvas.offcanvas-start#offcanvasMenu {
    width: 260px !important;
    max-width: 260px !important;
}
.nav-item {
    font-size: 0.9rem;
}

.top-row {
    min-height: 3.5rem;
    background-color: darkgreen;
    /*background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand {
    font-size: 1.1rem;
    background-color: darkgreen;
}


.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
    background-image: linear-gradient( darkgreen, darkolivegreen );
}

.navbar {
    background-color: darkgreen !important;
}
