@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using RVParking.Data


@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@* @inject Bkg_UserService bkg_UserService
 *@

<h4>Create Update or Delete Bkg_Availability Records</h4>
@if (BkgPropertiesAvail == null || BkgPropertiesAvail.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <div class="form-group" style="display:flex;flex-direction:row; margin-bottom: 1%;">
        <div class="form-group" style="max-width: 60%; text-align:center;">
            <label for="bkgType">Select Property</label>
            <select class="form-control" id="bkgType" @bind="BkgType">
                @foreach (var property in BkgPropertiesAvail)
                {
                    <option value="@property.PropertyId">@property.Name</option>
                }
            </select>

        </div>


        <div class="form-group" style="text-align:center; max-width: 60%; margin-left: 1%">
            <label for="bkgAvail">Availability</label>
            <select class="form-control" id="bkgAvail" @bind="isAvail">
                <option style="text-align:center;" value="Yes">Is Available</option>
                <option style="text-align:center;" value="No">Not Available</option>
            </select>
        </div>

        <div class="form-group" style="max-width: 40%; text-align:center; margin-left: 2%;">
            @* <input type="checkbox" @bind="isChecked" /> Check to delete *@
            <label for="bkgAvail">To Delete ?</label>
            <select class="form-control" id="toDelete" style="color:red;" @bind="toDelete">
                <option value="no"></option>
                <option value="YES">*DELETE*</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="display:flex;flex-direction:row; margin-bottom: 1%">
        <div class="form-group" style="max-width: 30%; text-align:center; margin-left: 0%">
            <label for="fmdate">From Date</label>
            <InputDate @bind-Value=Fmdate class="form-control" id="fmdate" />
            @* <ValidationMessage For="() => emailMessage.Fmdate" /> *@
        </div>
        <div class="form-group" style="max-width: 30%; text-align:center; margin-left: 1%;">
            <label for="todate">To Date</label>
            <InputDate @bind-Value=Todate class="form-control" id="todate" />
            @* <ValidationMessage For="() => emailMessage.Todate" /> *@
        </div>
        <div class="form-group" style="text-align:center; max-width: 60%; margin-left: 1%">
            <label for="bkgAvailStatus">Status</label>
            <select class="form-control" id="bkgAvailStatus" @bind="status">
                <option style="text-align:center;" value=""></option>
                <option style="text-align:center;" value="NA">Not Available</option>
                <option style="text-align:center;" value="Booked">Booked</option>
                <option style="text-align:center;" value="CLOSED">Closed</option>
            </select>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" style="min-width: 28%; align-content: center;" @onclick="CrudBkBkgAvailablilty">Create Update or Delete Bkg_Availability</button>
    </div>
}
@code {
    // [Parameter]
    // public List<Bkg_Property> BkgPropertiesAvail { get; set; }
    private string BkgType = "RVPark On Fitz";
    private string isAvail = "Yes";
    public DateTime Fmdate { get; set; } = DateTime.Now.Date;
    public DateTime Todate { get; set; } = DateTime.Now.Date;
    private bool allDatesAvailable = false;
    private string toDelete = "no";
    private string status = string.Empty;
    private ApplicationDbContext _dbContext;

    private List<Bkg_Property> BkgPropertiesAvail = new List<Bkg_Property>();

    protected override async Task OnInitializedAsync()
    {

        BkgPropertiesAvail = await ApplicationDbContext.bkg_Properties.ToListAsync();
        BkgType = "1";
    }
  

    private void OnBkgTypeChange(ChangeEventArgs e)
    {
        BkgType = e.Value.ToString();
        // Update other fields based on the selected BkgType
        // For example, you can fetch additional data from the database and update the UI
    }
    private async Task CrudBkBkgAvailablilty()
    {
        if (toDelete == "YES")
        {
            var recordsToDelete = ApplicationDbContext.bkg_Availabilities
                .Where(a => a.PropertyId == int.Parse(BkgType) && a.DateAvailable >= Fmdate && a.DateAvailable <= Todate);

            ApplicationDbContext.bkg_Availabilities.RemoveRange(recordsToDelete);
        }
        else
        {
            DateTime dte = Fmdate;
            while (dte <= Todate)
            {
                var existingRecord = ApplicationDbContext.bkg_Availabilities
                    .FirstOrDefault(a => a.PropertyId == int.Parse(BkgType) && a.DateAvailable == dte);

                if (existingRecord != null)
                {
                    existingRecord.Available = isAvail == "Yes";
                    existingRecord.AvailabilityStatus = status;
                }
                else
                {
                    var newRecord = new Bkg_Availability
                        {
                            PropertyId = int.Parse(BkgType),
                            DateAvailable = dte,
                            Available = isAvail == "Yes",
                            AvailabilityStatus = status
                        };
                    ApplicationDbContext.bkg_Availabilities.Add(newRecord);
                }
                dte = dte.AddDays(1);
            }
        }
        await ApplicationDbContext.SaveChangesAsync();
    }
}
