@page "/DynamicCRUD/{entityName}"
@using Microsoft.AspNetCore.Components.Authorization
@using RVParking.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.Reflection

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager



@inject ApplicationDbContext _context

<h3>@entityName</h3>
@* <button @onclick="CreateNew">Create New @entityName</button> *@

@if (items == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table" style="">
            <thead>
                <tr>
                    @foreach (var property in properties)
                    {
                        <th style="border: 1px solid #929292;">@property.Name</th>
                    }
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        @foreach (var property in properties)
                        {
                            <td style="border: 1px solid #929292;">@property.GetValue(item)</td>
                        }
                        <td style="border: 1px solid #929292;">
                            <div class="tab-content" style="display:flex;flex-direction:row;">
                                <button class="bi form-control" style="width: 40px; height: 32px;"
                                        @onclick="() => Edit((int)keyProperty.GetValue(item))">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button class="bi form-control" style="width: 40px; height: 32px;"
                                        @onclick="() => Delete((int)keyProperty.GetValue(item))">
                                    <i class="bi bi-trash3" style="block-size:max-content;"></i>
                                </button>
                                @* <button class="btn btn-primary" @onclick="() => Edit((int)keyProperty.GetValue(item))">Edit</button>  
                                <button class="btn btn-danger" @onclick="() => Delete((int)keyProperty.GetValue(item))">Delete</button> *@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

    @code {
        [Parameter]
        public string entityName { get; set; }

    private Type entityType;
    private PropertyInfo[] properties;
    private PropertyInfo keyProperty;
    private IEnumerable<object> items;

    protected override async Task OnInitializedAsync()
    {
        entityType = Type.GetType($"RVParking.Data.{entityName}, RVParking");
        @if (entityType != null)
        {
            properties = entityType.GetProperties();
            keyProperty = properties.FirstOrDefault(p => p.Name.Contains("Id")) ?? throw new InvalidOperationException("Key property not found.");

            var setMethod = typeof(ApplicationDbContext).GetMethod("Set", Type.EmptyTypes)?.MakeGenericMethod(entityType);
            if (setMethod == null)
            {
                throw new InvalidOperationException("Set method not found.");
            }

            var dbSet = setMethod.Invoke(_context, null);
            if (dbSet == null)
            {
                throw new InvalidOperationException("DbSet is null.");
            }

            items = (IEnumerable<object>)await ((IQueryable<object>)dbSet).ToListAsync();



        // @if (entityType != null)
        // {
        //     properties = entityType.GetProperties();
        //     keyProperty = properties.FirstOrDefault(p => p.Name.Contains("Id")) ?? throw new InvalidOperationException("Key property not found.");
        //     var setMethod = typeof(ApplicationDbContext).GetMethod("Set").MakeGenericMethod(entityType);
        //     items = (IEnumerable<object>)await ((IQueryable<object>)setMethod.Invoke(_context, null)).ToListAsync();
        }
    }

    private void Edit(int id)
    {
        // Navigate to edit page with the specific id
        NavigationManager.NavigateTo($"/edit-{entityName.ToLower()}/{id}");
    }

    private async Task Delete(int id)
    {
        var item = await _context.FindAsync(entityType, id);
        if (item != null)
        {
            _context.Remove(item);
            await _context.SaveChangesAsync();
            items = items.Where(i => !keyProperty.GetValue(i).Equals(id)).ToList();
        }
    }



//         private Type entityType;
//         private PropertyInfo[] properties;
//         private PropertyInfo keyProperty;
//         private IEnumerable<object> items;

//         protected override async Task OnInitializedAsync()
//         {
//             entityType = Type.GetType($"RVParking.Data.{entityName}, RVParking");
//             if (entityType == null)
//             {
//                 throw new InvalidOperationException($"Entity type '{entityName}' not found.");
//             }
//             properties = entityType.GetProperties();
//             keyProperty = properties.First(p => p.Name == "Id");
// //            items = (IEnumerable<object>)await _context.Set(entityType).ToListAsync();
//         }

//         private void CreateNew()
//         {
//             NavigationManager.NavigateTo($"/create-{entityName.ToLower()}");
//         }

//         private void Edit(int id)
//         {
//             NavigationManager.NavigateTo($"/edit-{entityName.ToLower()}/{id}");
//         }

//         private void Delete(int id)
//         {
//             var item = _context.Find(entityType, id);
//             if (item != null)
//             {
//                 _context.Remove(item);
//                 _context.SaveChanges();
//                 items = items.Where(i => keyProperty.GetValue(i).Equals(id)).ToList();
//             }
//         }
//     }

//     private void CreateNew()
//     {
//         NavigationManager.NavigateTo($"/create-{entityName.ToLower()}");
//     }

//     private void Edit(int id)
//     {
//         NavigationManager.NavigateTo($"/edit-{entityName.ToLower()}/{id}");
//     }

//     private void Delete(int id)
//     {
//         var item = _context.Find(entityType, id);
//         if (item != null)
//         {
//             _context.Remove(item);
//             _context.SaveChanges();
//             items = items.Where(i => keyProperty.GetValue(i).Equals(id)).ToList();
//         }
//     }
}
