@page "/booking"
@using Syncfusion.Blazor.Navigations
@rendermode InteractiveServer

<PageTitle>Info on RV Park and Apartment of Fitz.</PageTitle>

<h1 style="margin-top: 0em;">RV Park and Apartment of Fitz. For you to Book.</h1>
<div style="max-width: 66%; text-align: center;">
    You can create, check and manage your bookings on this website.<br/> Please <a href="./Account/Register">"Register"</a> to gain access. Or use <a href="./ContactUs">"Contact Us"</a> if you do not wish to.
</div>
<section class="card-list product-list">

    <a class="card" style="width:80%; height:570px;">
        <div class="card-content" style="height: 350px;text-align: center;">
            <Syncfusion.Blazor.Navigations.SfCarousel Height="76%" AnimationEffect="CarouselAnimationEffect.Fade"  ShowIndicators="true" ShowArrows="true" AutoPlay="true" Interval="3000">
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/RVParkFitz01b.jpg" alt="https://via.placeholder.com/100"  />
                </Syncfusion.Blazor.Navigations.CarouselItem>
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_6421b.jpg" alt="https://via.placeholder.com/100"  />
                </Syncfusion.Blazor.Navigations.CarouselItem>
            </Syncfusion.Blazor.Navigations.SfCarousel>
            <div style="text-align: center;">NZMCA Members - $30.00 per night </div>
            <div style="text-align: center;">Normal price $40.00 per night</div>
            @* <div style="text-align: center;">Multi night discounts are available.</div> *@
            <div style="text-align: center;"><b>RV Park Includes</b>.</div>
@*             <p>
                NZMCA Member $30.00 per night  <br />
                Normally $45.00 per night
            </p> *@
        </div>
        <div class="card-detail" style="height:300px; text-align: justify-all; overflow-y:auto;">
            <b>Location:</b> In the northern suburbs of Wellington to the east a few blocks from the northern motorway (SH1) 10km from the ferry terminals, 15mins Normal traffic 30mins Peak hour. Detailed maps are part of your booking confirmation messages sent via email and text.<br />
            <b>Access: </b>The site is flat with easy access from the street, able to park either front or rear facing. It's 8 x 3.9-4.0 meters, room for most RVs even with Slide-Out. There is on street parking for anything you might be towing, a 5th wheel rig, or if you have a caravan.<br />
            <b>Power: </b>The external power to a 16A caravan socket from a protected 16amp outlet It is very close to the pad.<br />
            <b>Internet:</b> We have good WIFI available in this location, fed from fibre, you should have no speed wobbles.<br />
            <b>Tap water: </b>A tap is on the parking pad to replenish your potable water tanks.<br />
            <b>Grey Water Waste:</b> We have a gully trap on the parking pad suitable for disposing of your grey water waste.>
        </div>
    </a>
    <a  class="card" style="height:570px;">
        <div class="card-content"
             style="height: 350px; text-align: center; overflow-y:auto;">
            <Syncfusion.Blazor.Navigations.SfCarousel  Height="76%" AnimationEffect="CarouselAnimationEffect.Fade"  ShowIndicators="true" ShowArrows="true" AutoPlay="true" Interval="3000">
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_7360b.jpg"  alt="https://via.placeholder.com/100" class="card-sm" />
                </Syncfusion.Blazor.Navigations.CarouselItem>
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_7361b.jpg"  alt="https://via.placeholder.com/100" class="card-sm" />
                </Syncfusion.Blazor.Navigations.CarouselItem>
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_7363b.jpg"  alt="https://via.placeholder.com/100" class="card-sm" />
                </Syncfusion.Blazor.Navigations.CarouselItem>
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_7385b.jpg"  alt="https://via.placeholder.com/100" class="card-sm" />
                </Syncfusion.Blazor.Navigations.CarouselItem>
                <Syncfusion.Blazor.Navigations.CarouselItem>
                    <img src="images/IMG_7386b.jpg"  alt="https://via.placeholder.com/100" class="card-sm" />
                </Syncfusion.Blazor.Navigations.CarouselItem>
            </Syncfusion.Blazor.Navigations.SfCarousel>
            <div style="text-align: center;">
                NZMCA Members - $120.00 per night
            </div>
            <div style="text-align: center;">Normal price $140.00 per night</div>
            @* <div style="text-align: center;">Multi night discounts are available.</div> *@
            <div style="text-align: center;"><b>Apartment Description</b>.</div>
        </div> 
        <div class="card-detail" style="height:200px; text-align: justify-all; overflow-y:auto;">
                The downstairs area of our house is self-contained accommodation. It has a large bedroom, small kitchenette, small bathroom - shower basin and toilet, and modest living area with TV.
                The bedroom is large and has a Queen size bed and there is a sofa that converts to another double bed. Comfortable for two people and maybe two additional little ones. There is a chest of drawers, wardrobe and bedside cabinets and lights, and a small bookcase.
            Laundry is at the back of the garage where there is a laundry tub and all-in-one washing machine-dryer.
                While the Downstairs of our house is for your sole use while you are here, there are some areas that are shared access. The front entrance is shared, assess to the garage is shared. There are storage cupboards and an area under the stairs we regard as shared access.
                Our car is normally parked in the garage, so the garage is not available, nor is parking in front of the garage. If the RVPark is not occupied, then that may be available, or a car can be parked in front of the front door.
                Keyless access is via the garage door and the key to the front door is inside.
                Pets: No pets inside sorry.
                There is a small kitchenette with fridge freezer, microwave, air-fryer, one-pot hotplate, instant pot,  jug, toaster, coffee gear - filter and plunger. The microwave has several other cooking modes, and the manual is close by.
            Bathroom is small with toilet, shower, and basin. There is a bit of a step up to the shower base. 
                And finally, the living area has a 2-seater couch, small table and two chairs, and TV with internet access. No Sky at this stage but multi room (without sports) may be available in time.<br/>
            <b style="text-align: center;">Ask about the <i>multi-night</i> discount.</b>
        </div>
    </a>

</section>

@* <div class="d-flex align-items-start gap-3" style="margin-top: 10px;">
    <dev class="card" style="max-width: 500px">
        <div class="card-content" style="max-width: 100%; text-align: center;">

            <img src="images/RVParkBlkAAb.png" style="width:80%;" alt="https://via.placeholder.com/100" max-width="300px" ; class="card-sm" />
            <br />
            <p>Our RV Park or POP site is available for NZMCA members as well as non-member. You can manage your bookings and check availablility through this website. Please <a href="./Account/Register">"Register"</a> to gain access. Or use <a href="./ContactUs">"Contact Us"</a> if you do not wish to.</p>
        </div>
    </dev>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">
        <br />

        <img src="images/NZMCALogoAb.png" style="width:80%;" alt="https://via.placeholder.com/100" class="card-sm" />
            <p>Please let us know if you are a NZMCA Member so you get your discount. Our downstairs apartment is available Park your RV up and rest inside.<br/> </p>
    </div>
</div>
    <a class="carousel" style="max-width: 500px">
        <Syncfusion.Blazor.Navigations.SfCarousel Width="500px" Height="100%" AnimationEffect="CarouselAnimationEffect.Fade" ShowArrows="true" AutoPlay="true" Interval="2000">
            <Syncfusion.Blazor.Navigations.CarouselItem>
                <img src="images/IMG_7360b.jpg" alt="https://via.placeholder.com/100" class="card-sm" />
            </Syncfusion.Blazor.Navigations.CarouselItem>
            <Syncfusion.Blazor.Navigations.CarouselItem>
                <img src="images/IMG_7361b.jpg" alt="https://via.placeholder.com/100" class="card-sm" />
            </Syncfusion.Blazor.Navigations.CarouselItem>
            <Syncfusion.Blazor.Navigations.CarouselItem>
                <img src="images/IMG_7363b.jpg" alt="https://via.placeholder.com/100" class="card-sm" />
            </Syncfusion.Blazor.Navigations.CarouselItem>
            <Syncfusion.Blazor.Navigations.CarouselItem>
                <img src="images/IMG_7385b.jpg" alt="https://via.placeholder.com/100" class="card-sm" />
            </Syncfusion.Blazor.Navigations.CarouselItem>
            <Syncfusion.Blazor.Navigations.CarouselItem>
                <img src="images/IMG_7386b.jpg" alt="https://via.placeholder.com/100" class="card-sm" />
            </Syncfusion.Blazor.Navigations.CarouselItem>
        </Syncfusion.Blazor.Navigations.SfCarousel>
    </a>
</div> *@


