@page "/booking"
@rendermode InteractiveServer

<PageTitle>RV Park Bookings</PageTitle>

<h1>For bookings :- </h1>
<p></p>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">

        <img src="images/RVParkBlkAA.png" alt="https://via.placeholder.com/100"  max-width="300px"; class="card-sm"/>
        <br />
        <a href="./ContactUs">"Contact Us"</a>
        <p>We manage bookings through this website. Once you have registered you can see Availablility and create your own bookings. Use the "Contact Us" feature if you do not wish to register.</p>
    </div>
</div>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">
        <br />

        <img src="images/NZMCALogoA.png" alt="https://via.placeholder.com/100" class="card-sm" />
        <p>And if you are a NZMCA Member then please let us know so you get your discount. Again Register if you wish or use the<br /> <a href="./ContactUs">"Contact Us"</a> <br />page to arrange your booking with membership discount.</p>
    </div>
</div>

