@page "/booking"
@rendermode InteractiveServer

@* <PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@
<PageTitle>Bookings</PageTitle>

<h1>For bookings :- </h1>
@* <a href="https://campable.com/locations/5137171604307968" color="white" target="_blank">RVPark On Fitz</a> *@

<p></p>
@* <p>We manage public bookings through "Campable" where you can see availablity, make and manage your booking.</p> *@
@* <a class="img" >
    <img src="images/NZMCA.png" 
         alt="RVPark Booking Logo">
    <p>However if you are a NZMCA Member then please use the "Contact Us" page to arrange your booking with membership discount.</p>
</a> *@
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">

        <img src="images/RVParkBlkAA.png" alt="https://via.placeholder.com/100"  max-width="300px"; class="card-sm"/>
        <br />
        <a href="https://campable.com/locations/5137171604307968" color="white" text-align="center" target="_blank">RVPark On Fitz</a>
        <p>We manage public bookings through "Campable" where you can see availablity, make and manage your booking.</p>
    </div>
</div>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">
        <br />

        <img src="images/NZMCALogoA.png" alt="https://via.placeholder.com/100" class="card-sm" />
        <p>However if you are a NZMCA Member then please use the <br /> <a href="./ContactUs">"Contact Us"</a> <br />page to arrange your booking with membership discount.</p>
    </div>
</div>

