@page "/directionsnorth"
@* Is the maps for directions to and from the South. *@
<h3>Direction Map to RV Park On Fitz from the North</h3>

<div style="max-width: 74%">
    <a class="row">
        <img src="images/DirectionMapFromNorth.jpg">
    </a>
</div>

@code {

}