@page "/directions"
@* Is the maps for directions to and from the South. *@
<h3>Direction Map to RV Park On Fitz from the South</h3>

<div style="max-width: 80%">
    <a class="row">
        <img src="images/DirectionMapRVParkOnFitz.jpg">
    </a>
</div>

@code {

}
