@page "/"

<PageTitle>Home</PageTitle>

<div>
    <a class="row" > @*This picture has a title within it.*@
        <img src="images/WgtnGoodDayB.jpg" >
    </a>
</div>

<div class="row" style="flex: 1 1; margin-left: 0.03em; margin-right: 0.02em ">
    <div class="column" style="background-color:#0047ff; max-width:15%"></div>
    <div class="column-l" style="background-color: #0047ff; color:antiquewhite; ">
        As they say you cannot beat Wellington on a good day.<br />
        If you are in an RV, Campervan etc.. and a ferry to catch .... WHAT A HASSLE...<br />
        Finding a park overnight, really close to the terminal... THAT WOULD BE GOOD!<br />
        Or a rest-up before setting out north.... YES THAT's GOOD TOO!
        <p style="text-align: center" >THEN TRY      RV Park on Fitz.</p>
    </div>
    <div class="column" style="background-color:#0047ff; max-width:15%"></div>
</div>
@*Next make some cards with other photos of how to get here and maybe the pad in card style etc*@
@* <div class="row">
    <div class="column" style="background-color:#aaa;">Column</div>
    <div class="column" style="background-color:#bbb;">Column</div>
    <div class="column" style="background-color:#ccc;">Column</div>
</div> *@

<section class="card-list product-list">
    <a class="card">
        <div class="card-content">
            <img src="images/image004a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the North</h2>
            <p>Take the Johnsonville exit off SH1, the motorway, coming into Welington from the North. Follow the directions you will find on the booking site.</p>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/image005.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the South</h2>
            <p>Take the Newlands exit off SH1, the motorway, coming FROM Welington from the South or the Hutt Valley. Follow the directions you will find on the booking site.</p>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/RVParkA.png" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">Now your will see your park</h2>
            <p>park nose or tail first as you choise Power is up behind the back gate, top left of this photo.</p>
        </div>
    </a>
 </section>

@* <div class="footer">
    <p>Footer</p>
</div> *@
