@page "/"
@* @using Syncfusion.Blazor    
@using Syncfusion.Blazor.
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Themes *@

<PageTitle>RV Park - Home</PageTitle>

<div>
    <a class="row" > @*This picture has a title within it.*@
        <img src="images/WgtnGoodDayC.jpg" >
    </a>
</div>

<div class="row" style="flex: 1 1; margin-left: 0.03em; margin-right: 0.02em ">
    <div class="column" style="background-color:  darkolivegreen; max-width:10%"></div>
    <div class="column-l" style="background-color: darkolivegreen; color:antiquewhite; text-align: center;">
        As they say you cannot beat Wellington on a good day.<br />
        If you are in an RV, Campervan etc.. and a ferry to catch.... WHAT A HASSLE...<br />
        Finding a park overnight, really close to the terminal... THAT WOULD BE GOOD!<br />
        Or a rest-up before setting out north.... YES THAT's GOOD TOO!
        <p style="text-align: center" >THEN TRY      RV Park on Fitz.</p>
    </div>
    <div class="column" style="background-color: darkolivegreen; max-width:10%"></div>
</div>
@*Next make some cards with other photos of how to get here and maybe the pad in card style etc*@
@* <div class="row">
    <div class="column" style="background-color:#aaa;">Column</div>
    <div class="column" style="background-color:#bbb;">Column</div>
    <div class="column" style="background-color:#ccc;">Column</div>
</div> *@

<section class="card-list product-list">
    <a class="card">
        <div class="card-content">
            <img src="images/image004a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the North</h2>
            <p>Take the Johnsonville exit off SH1, the motorway, coming into Wellington from the North. Follow the directions you will find on the booking confirmation text or email.</p>
            <p>PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.</p>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/image004b.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the South</h2>
            <p>Take the Johnsonvilee exit off SH1, the motorway, coming FROM Wellington or the Hutt Valley. Follow the directions you will find on the booking confirmation text or email.</p>
            <p>PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.</p>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/RVParkA.png" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">Now your will see your park.</h2>
            <p>Signs for RV Park of Fitz will be in view.</p>
            <p>Park nose or tail first as you choice Power socket is in an electrical box on the end retaining wall, top left of this photo. Space available is 8 x 3.9-4.0 meters.</p>
        </div>
    </a>
 </section>
@*  <div>
 <SfButton CssClass="e-settings">Settings</SfButton>
<SfIcon Name="IconName.Copy"></SfIcon>
<SfIcon Name="IconName.Paste"></SfIcon>
<SfIcon Name="IconName.Bold"></SfIcon>
<SfIcon Name="IconName.Underline"></SfIcon>
<SfIcon Name="IconName.Italic"></SfIcon>
</div> *@
@* <div class="footer">
    <p>Footer</p>
</div> *@
