@page "/"
@* @using Syncfusion.Blazor    
@using Syncfusion.Blazor.
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Themes *@

<PageTitle>RV Park - Home</PageTitle>

@* Plan (pseudocode):
   1. Add a scoped CSS block to this component defining a class that forces white bold text and removes underline.
      - Class name: link-no-underline
      - Rules: color: white; font-weight: 700; text-decoration: none;
      - Also ensure hover and focus states do not add an underline and preserve color.
   2. Apply the class to the anchor that links to /ContactRegister.
   3. Keep existing markup and styling otherwise unchanged.
   4. Ensure the <b> tag is not required for bold but leave it for minimal change; CSS will enforce color and no underline.
*@

<style>
    /* Component-local styles: ensure link text is bold, white, and never underlined */
    .link-no-underline,
    .link-no-underline b {
        color: white !important;
        font-weight: 700 !important;
        text-decoration: none !important;
    }

    .link-no-underline:hover,
    .link-no-underline:focus,
    .link-no-underline:active {
        color: white !important;
        text-decoration: none !important;
        outline: none;
    }
</style>

<div>
    <a class="row" > @*This picture has a title within it.*@
        <img src="images/WgtnGoodDayD.jpg" >
    </a>
</div>

<div class="row" style="flex: 1 1; margin-left: 0.03em; margin-right: 0.02em ">
    <div class="column" style="background-color:  darkolivegreen; color:antiquewhite; text-align: center;" max-width:10%">
        @* <br />RV Park on Fitz. *@
    </div>
    <div class="column-l" style="background-color: darkolivegreen; color:antiquewhite; text-align: center;">
        @* As they say you cannot beat Wellington on a good day.<br /> *@
        @* If you are in an RV, Campervan etc.. and a ferry to catch.... WHAT A HASSLE...<br /> *@
        @* Finding a park overnight, really close to the terminal... THAT WOULD BE GOOD!<br /> *@
        @* Or a rest-up before setting out north.... YES THAT's GOOD TOO! *@
        Looking for an RV Park going to or from the Wellington Cook Strait Ferries?<br />
        @* Or perhaps a comfortable stay inside, no need to unpack just for one night?<br /> *@
        Then Try &nbsp;&nbsp; <a href="/ContactRegister" class="link-no-underline"><b>RV Park on Fitz.</b></a>  &nbsp;&nbsp; 
        @* or  &nbsp;&nbsp; <a href="/ContactRegister" class="link-no-underline"><b>Apartment on Fitz.</b></a> *@
        @* <p style="text-align: center">THEN TRY      RV Park on Fitz.</p> *@
    </div>
    <div class="column" style="background-color: darkolivegreen; color:antiquewhite; text-align: center;" max-width:10%">
        @* <br />Apmt on Fitz. *@
    </div>
</div>
@*Next make some cards with other photos of how to get here and maybe the pad in card style etc*@

<section class="card-list product-list">
    <a class="card">
        <div class="card-content">
            <img src="images/image004a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the North</h2>
            <small>Take the Johnsonville exit off SH1, the motorway, coming into Wellington from the North. Follow the directions you will find on the booking confirmation text or email.<br />
            PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.</small>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/image004b.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">From the South</h2>
            <small>Take the Johnsonvile exit off SH1, the motorway, coming FROM Wellington or the Hutt Valley. Follow the directions you will find on the booking confirmation text or email.<br />
           PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.</small>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/RVParkAa.png" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">Now you will see your park.</h2>
            <small>Signs for RV Park on Fitz will be in view.<br />
                Park nose or tail first as you choose. Power socket is in a box on the end retaining wall, top left of this photo. Space available is 8 x 3.9-4.0 meters.
            </small>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/IMG_7360a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">We have an Apartment as well.</h2>
            <small>A large bedroom, small kitchenette, small bathroom - shower basin and toilet, and modest living area with TV. <br />
                There is some shared access but for your sole use.
            </small>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/IMG_7365a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">Large Bedroom and Bathroom.</h2>
            <small>
                The bedroom is large and has a Queen size bed and there is a sofa that converts to another double bed. Chest of drawers, wardrobe and bedside cabinets and lights. <br/>
                Bathroom is small with toilet, shower, and basin. There is a bit of a step up to the shower base.<br />
            </small>
        </div>
    </a>
    <a class="card">
        <div class="card-content">
            <img src="images/IMG_7363a.jpg" alt="https://via.placeholder.com/400" class="card-img" />
            <h2 class="title">Kitchenette and Lounge.</h2>
            <small>
                The kitchenette has a fridge/freezer, microwave, air-fryer, one-pot hotplate, instant pot,  jug, toaster, coffee gear - filter and plunger.<br />
                The living area has a 2-seater couch, small table, and TV with internet access.
            </small>
        </div>
    </a>
</section>

@* <div class="footer"> Uncommented while testing
    <a href="images/DirectionMapRVParkOnFitz.jpg">From the South to RV Park on Fitz. </a>
    <a href="images/DirectionMapFromNorth.jpg">From the North to RV Park on Fitz. </a>
</div> *@