@page "/"

<PageTitle>Home</PageTitle>

<div>
    <a class="row" > @*This picture has a title within it.*@
        <img src="images/WgtnGoodDayB.jpg" >
    </a>
</div>

<div class="row" style="flex: 1 1; margin-left: 0.03em; margin-right: 0.02em ">
    <div class="column" style="background-color:#0047ff; width:1"></div>
    <div class="column-l" style="background-color: #0047ff; color:antiquewhite; width:3">
        As they say you cannot beat Wellington on a good day.<br />
        If you are in an RV, Campervan etc.. and a ferry to catch .... then WHAT A HASSLE...<br />
        Finding a park overnight really close to the terminal with an easy drive to board... THAT WOULD BE GOOD!<br />
        Or perhaps rest up before setting out north.... ALSO THAT WOULD BE GOOD!<br />
        <br />
    </div>
    <div class="column" style="background-color:#0047ff; width:2"></div>
</div>

@* <div class="row">
    <div class="column" style="background-color:#aaa;">Column</div>
    <div class="column" style="background-color:#bbb;">Column</div>
    <div class="column" style="background-color:#ccc;">Column</div>
</div> *@

<div class="footer">
    <p>Footer</p>
</div>
