@page "/mybooking"
@rendermode InteractiveServer


<PageTitle>RV Park My Bookings</PageTitle>

<h1>My Bookings</h1>
<p></p>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">

        <img src="images/RVParkBlkAA.png" alt="https://via.placeholder.com/100" max-width="300px" ; class="card-sm" />
        <br />
        <a href="https://campable.com/locations/5137171604307968" color="white" text-align="center" target="_blank">RVPark On Fitz</a>
        <p>We manage your bookings through this web site where you can see availablity, make and manage your bookings.</p>
        <p>****** STILL A WORK IN PROGRESS SORRY ******</p>
    </div>
</div>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">
        <br />

        <img src="images/NZMCALogoA.png" alt="https://via.placeholder.com/100" class="card-sm" />
        <p>However if you are a NZMCA Member then please use the <br /> <a href="./ContactUs">"Contact Us"</a> <br />page to arrange your booking with membership discount.</p>
    </div>
</div>



@code {

}
