@page "/smsus"

@using RVParking.Data
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using TNZAPI.NET;
@using TNZAPI.NET.Core;


@inject NavigationManager Navigation

<PageTitle>RV Park SMS Us</PageTitle>

<h2>SMS Us</h2>
<br />

@if (@smsMessage is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model=@smsMessage OnValidSubmit=@ValidFormSubmitted method="post" FormName="smss">
        <DataAnnotationsValidator />
        <ValidationSummary />

@*         <div class="form-group" style="max-width: 75%; width: 500px;  margin-left: 2%">
            <label for="name">Name</label>
            <InputText @bind-Value=smsMessage.Name class="form-control" id="name" />
            <ValidationMessage For="() => smsMessage.Name" />
        </div> *@
@*         <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%">
            <div class="form-group" style="max-width: 100%; margin-left: 2%">
                <label for="email">Email</label>
                <InputText @bind-Value=smsMessage.Email class="form-control" id="email" />
                <ValidationMessage For="() => smsMessage.Email" />
            </div>
            <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                <label for="phone">Phone</label>
                <InputText @bind-Value=smsMessage.Phone class="form-control" id="phone" />
                <ValidationMessage For="() => smsMessage.Phone" />
            </div> *@

        @* </div> *@


@*         <div class="form-group" style="max-width: 75%;width: 500px; margin-left: 2%">
            <label for="subject">Subject</label>
            <InputText @bind-Value=smsMessage.Subject class="form-control" id="subject" />
            <ValidationMessage For="() => smsMessage.Subject" />
        </div> *@
@*         <div class="form-group" style="max-width: 25%;width: 300px;  margin-left: 2%">
            <label for="nzmca">NZMCA ID</label>
            <InputText @bind-Value=smsMessage.Nzmca class="form-control" id="nzmca" />
            <ValidationMessage For="() => smsMessage.Nzmca" />
        </div>
        <div class="form-group" style="display:flex;flex-direction:row;">
            <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                <label for="fmdate">From</label>
                <InputDate @bind-Value=smsMessage.Fmdate class="form-control" id="fmdate" />
                @* <ValidationMessage For="() => smsMessage.Fmdate" /> *@
            @* </div> *@
  @*           <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                <label for="todate">To</label>
                <InputDate @bind-Value=smsMessage.Todate class="form-control" id="todate" /> *@
        @* <ValidationMessage For="() => smsMessage.Todate" /> *@
   @*          </div>

        </div> *@ 


        <div class="form-group" style="max-width: 75%;width:500px;  margin-left: 2%">
            <label for="message">Message</label>
            <InputTextArea @bind-Value=smsMessage.Message class="form-control" id="message" />
            <ValidationMessage For="() => smsMessage.Message" />
        </div>

        <div class="btn btn-primary" style="max-width: 75%;width:500px;  margin-left: 2%">
            <input type="submit" class="btn btn-primary" value="Send" />

        </div>


    </EditForm>


}





@code {
    bool isSubmitting;
    private string result = string.Empty;
    [SupplyParameterFromForm]
    public smsMessage smsMessage { get; set; } = new smsMessage();


    private void ValidFormSubmitted()
    {
        var apiUser = new TNZApiUser()
            {
                AuthToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoid0Jka3ZBbnRCaVhzbGZlTUMwanpLQT09IiwiY3JlYXRlZCI6IjIwMjQtMTItMDkgMjE6MDc6MzkuODk3OCIsImNoZWNrc3VtIjoiNERCR0hIZTNQd2JUb0h5VWY5ZmtqTnFaOHAxUGxzYVB0RWFNUjhqTFRXK2pkc2Z2RTVuRHZiUjlaYUlYeno0QyJ9.UnjeD4Ze1hgDFSwv7-xgKGf5bE_XbmAPWRntE3EWeZQ"
            };
        var client = new TNZApiClient(apiUser);

        const string rept = "+64273042002";
        const string txtmsg = "From RVPark using TNZ API out of Blazor";

        var response = client.Messaging.SMS.SendMessage
                    (
                        destination: rept,                     // Recipient
                        messageText: smsMessage.Message                       // SMS Message
                                                                  //sendMode: Enums.SendModeType.Test           // TEST Mode - Remove this to send live traffic
                    );

    }


}