@page "/things"
<PageTitle>RV Park Things to Know</PageTitle>
<section style="background-color: antiquewhite; padding:15px">
    <h2>RVPark Things to know</h2> <br />
@*here is a styled (hopefully) list of all the things clients might need to know about RVPark on Fitz*@

<p class=body>
    <b>Location</b>: In the northern suburbs of Wellington to
    the east a few blocks from the northern motorway (SH1) 10km from the ferry terminals.
</p>

<p class=body>
    <b>Access</b>: The site is flat with easy access from the
    street to be able to park either from or rear facing. There is on street
    parking for anything you might be towing.
</p>

<p class=body>
    <b>Power</b>: The external power to a 16A caravan socket
    from a protected 10amp outlet.
</p>

<p class=body>
    <b>Internet</b>: We have good WIFI available in this
    location, feed from fibre, you should have no speed wobbles.
</p>

<p class=body>
    <b>Tap water</b>: Within less that 10m there is a tap for
    your potable water replenishment. We have a hose suitable for drink water use
    if you do not have one.
</p>

<p class=body>
    <b>Grey Water Waste</b>: We have a gully trap on the parking
    pad suitable for disposing of your grey water waste.
</p>

<p class=body>
    <b>Dump Site</b>: the public dump site at Ngauranga is just
    5k away
</p>

<p class=body>
    <b>Mobile coverage</b>: Mobile coverage is good from both
    Spark and OneNZ cell phone towers.
</p>

<p class=body>
    <b>Parking Term</b>: We are happy for long term un-attended parking
    should you wish to leave your RV for the time you are doing other things.
</p>

<p class=body>
    <b>EV Charger</b>: We have an EV Chargers with a Type1 cable, It is inside the garage 
    so if you wish to use it please contact us to make the arrangements.
 </p>

<p class=body>
    <b>Local Facilities</b>: Wellington’s northern suburbs has a shopping mall, four supermarkets, 
    several laundromats and many takeaway food and dining facilities, some within walking distance.
</p>



<p class=body>
    <b>Fees</b>: Yes there is a fee. However, if you are an NZMCA member this is a good discount on the "Campable" figure. Just contact us directly to book.
</p>

</section>


@code {

}
