@page "/things"
<PageTitle>RV Park Things to Know</PageTitle>
<section style="background-color: antiquewhite; padding:15px">
    <h2>RVPark Things to know</h2> <br />
@*here is a styled (hopefully) list of all the things clients might need to know about RVPark on Fitz*@

<p class=body>
    <b>Location</b>: In the northern suburbs of Wellington to the east a few blocks from the northern motorway (SH1) 10km from the ferry terminals, 15mins Normal traffic 30mins Peak hour. 
    Detailed maps are part of your booking confirmation messages sent via email and text.
</p>

<p class=body>
    <b>Access</b>: The site is flat with easy access from the
        street, able to park either front or rear facing. It's 8 x 3.9-4.0 meters, room for most RVs even with Slide-Out. There is on street
        parking for anything you might be towing, a 5th wheel rig, or if you have a caravan.
    </p>

<p class=body>
    <b>Power</b>: The external power to a 16A caravan socket
    from a protected 10amp outlet It is very close to the pad.
</p>

<p class=body>
    <b>Internet</b>: We have good WIFI available in this
    location, fed from fibre, you should have no speed wobbles.
</p>

<p class=body>
    <b>Tap water</b>: Within less that 10m there is a tap for
    your potable water replenishment.
</p>

<p class=body>
    <b>Grey Water Waste</b>: We have a gully trap on the parking
    pad suitable for disposing of your grey water waste.
</p>

<p class=body>
    <b>Dump Site</b>: The public dump site at Ngauranga is just
    5k away.
</p>

<p class=body>
    <b>Mobile coverage</b>: Mobile coverage is good from both
    Spark and OneNZ cell phone towers.
</p>
<p class=body>
    <b>Satellite Reception</b>: Not good. Sadly we have a big tree doing its blocking move. Hopefully we will prune it soon. Freeview streaming TV or SkyGo over the Wifi works.
</p>

<p class=body>
    <b>Parking Term</b>: We are happy for long term un-attended parking
    should you wish to leave your RV for the time you are doing other things.
</p>

<p class=body>
    <b>EV Charger</b>: We have an EV Chargers with a Type1 cable. It is inside the garage 
    so if you wish to use it please contact us to make the arrangements.
 </p>

<p class=body>
    <b>Local Facilities</b>: Wellington’s northern suburbs has a shopping mall, four supermarkets, 
    several laundromats and many takeaway food and dining facilities, some within walking distance.
</p>

<p class=body>
    <b>Accomodation</b>: Our house has in addition an optional downstairs area we may be able to offer at an additional fee. It has a large bedroom, small kitchette, small bathroom - shower basin and toilet, 
    and modest living area with TV. It is sometimes available at an additional fee.<br />
    The bedroom has a Queen size bed and there is a sofa that converts to another double bed. Comfortable for two people and maybe two addition little ones.<br />
    We have a washing machine and dryer upstairs that you may talk to us about using as part of the accomodation.
    
</p>

<p class=body>
    <b>Fees</b>: Yes there is a fee. However, if you are an NZMCA member this is a good discount on the "Non-Member" figure. Register and use the booking system on this site to manage your bookings and requests.
</p>

</section>


@code {

}
