@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using RVPark.Data

@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext _context   

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@statusMessage" />

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }
    private string? statusGood = "Thank you for confirming your email.";

    protected override async Task OnInitializedAsync()
    {

        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            // If this is the first time a user has confirmed their email, this user may need to be added as to the Admin Role.
            // See if there are any other users that have email confirmed and if not add this user to the Admin Role.
            var userCount = await _context.CountUserConfirmedAsync();
            if (userCount <= 1) // then this is the first confirming user so add this user to this role. Might also see if any other user has Admin
            {
                var role = await RoleManager.FindByNameAsync("Admin");
                if (role != null)
                {
                    var addResult = await UserManager.AddToRoleAsync(user, role.Name);
                    if (addResult.Succeeded)
                    {
                        statusGood += " Also you have been made Administrator for this App.";
                    }
                }
                await _context.SaveChangesAsync();
            }
            statusMessage = result.Succeeded ? statusGood : "Error confirming your email.";
        }
    }
}
