@implements IDisposable

@inject NavigationManager NavigationManager 
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <a class="navbar-brand" href="">RVParking</a> *@
        @* <div style="font-size: 0.6em; color: aliceblue; text-align:left;"><br /><br />ver: 0.0.12</div> *@
        <a class="navbar-brand" href="/">
            <img src="images/RVParkB.png" width="100" height="40" class="d-inline-block align-top mb-1 mt-1 ms-lg-2"
            alt="RVPark Booking Logo"> 

        </a>
        @* <div style="font-size: 0.6em; color: aliceblue; text-align:left;"><br /><br />ver: 0.0.12</div> *@
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="things">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Things to Know
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="bi bi-envelope-nav-menu" aria-hidden="true"></span> Contact Us
            </NavLink>
        </div>
        @*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="booking">
                <span class="bi bi-book-nav-menu" aria-hidden="true"></span> Bookings
            </NavLink>
        </div> *@
        <AuthorizeView>
            <NotAuthorized>

            </NotAuthorized>

            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="mybookings">
                        <span class="bi bi-book-nav-menu" aria-hidden="true"></span> My Bookings 
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="availability">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Availability
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>@context.User.Identity?.Name
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="booking">
                        <span class="bi bi-book-nav-menu" aria-hidden="true"></span> Booking Info
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        @*                         <input type="hidden" name="ReturnUrl" value="@currentUrl"  />  After Logout return to Home Nav Itwm as the old Auth page was still showing*@
                        <input type="hidden" name="ReturnUrl" value="" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
@*                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="availability">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Availability 
                    </NavLink>
                </div> *@

            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="allbookings">
                        <span class="bi bi-book-nav-menu" aria-hidden="true"></span> All Bookings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="user-bookings">
                        <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> User Bookings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bookingavailability">
                        <span class="bi bi-asterisk-nav-menu" aria-hidden="true"></span> Booking Avail_Mnt.
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin" >  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-gear" viewBox="0 0 16 16">  
                            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />  
                            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />  
                        </svg>  
                        Admin / Setup  
                    </NavLink>  
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>

    <div style="font-size: 0.6em; color: aliceblue; text-align:center;"><br /><br />ver: 1.0.36 2025-04-29</div>
</div>

@code {
    private string? currentUrl;
    private bool showAdminItems = false;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();

    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

