@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using RVParking.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext ApplicationDbContext
@* @inject Bkg_UserService Bkg_UserService  *@


<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control" placeholder="Choose your username." disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" id="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                <label for="Input.PhoneNumber" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstNames" id="Input.FistNames" class="form-control" placeholder="Enter your First Names" />
                <label for="Input.FirstNames" class="form-label">First Names</label>
                <ValidationMessage For="() => Input.FirstNames" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" id="Input.LastName" class="form-control" placeholder="Enter your Last Name" />
                <label for="Input.LastName" class="form-label">Last Name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.NZMCA" id="Input.NZMCA" class="form-control" placeholder="Enter your NZMCA# else 'none'" />
                <label for="Input.NZMCA" class="form-label">NZMCA</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="Input.Address" id="Input.Address" class="form-control" placeholder="Enter your Address" />
                <label for="Input.City" class="form-label">Address</label>
                <ValidationMessage For="() => Input.Address" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Zip" id="Input.Zip" class="form-control" placeholder="Enter your Zip" />
                <label for="Input.City" class="form-label">Zip Code</label>
                <ValidationMessage For="() => Input.Zip" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.City" id="Input.City" class="form-control" placeholder="Enter your City" />
                <label for="Input.City" class="form-label">City</label>
                <ValidationMessage For="() => Input.City" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Country" id="Input.Country" class="form-control" placeholder="Enter your Country" />
                <label for="Input.Country" class="form-label">Country</label>
                <ValidationMessage For="() => Input.Country" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private Bkg_User? bkg_User = default!;
    private string? username;
    private string? phoneNumber;
    private string? firstnames;
    private string? lastName;
    private string? nzmca;
    private string? address;
    private string? zip;
    private string? city;
    private string? country;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        bkg_User = await ApplicationDbContext.GetBkgUserByAppUserIdAsync(user.Id);

        firstnames = user.FirstNames;
        lastName = user.LastName;
        city = user.City;
        country = user.Country;
        nzmca = bkg_User?.UserNZMCA;
        address = bkg_User?.UserAddress;
        zip = bkg_User?.UserZip;
        
        Input.PhoneNumber ??= phoneNumber;
        Input.FirstNames ??= firstnames;
        Input.LastName ??= lastName;
        Input.NZMCA ??= nzmca;
        Input.Address ??= address;
        Input.Zip ??= zip;
        Input.City ??= city;
        Input.Country ??= country;

        bkg_User = await ApplicationDbContext.GetBkgUserByAppUserIdAsync(user.Id);
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
                return;
            }
        }
        user.FirstNames = Input.FirstNames;
        user.LastName = Input.LastName;
        user.NZMCA = Input.NZMCA;
        user.UserAddress = Input.Address;
        user.UserZip = Input.Zip;  
        user.City = Input.City;
        user.Country = Input.Country;

        var updateResult = await UserManager.UpdateAsync(user);


        if (!updateResult.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to update profile.", HttpContext);
            return;
        }

        if (bkg_User != null)
        {
            bkg_User.UserFirstName = user.FirstNames;
            bkg_User.UserLastName = user.LastName;
            bkg_User.UserAddress = user.UserAddress;
            bkg_User.UserZip = user.UserZip;
            bkg_User.UserCity = user.City;
            bkg_User.UserCountry = user.Country;
            bkg_User.UserPhone = user.PhoneNumber;
            bkg_User.UserNZMCA = user.NZMCA;

            // Save bkg_User to the database  
            await ApplicationDbContext.SaveChangesAsync();

        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }

        //[FirstNames]
        [Display(Name = "First Names")]
        public string? FirstNames { get; set; }

        [Display(Name = "Last Name")]
        public string? LastName { get; set; }

        [Display(Name = "NZMCA")]
        public string? NZMCA { get; set; }

        [Display(Name = "Address")]
        public string? Address { get; set; }
        
        [Display(Name = "Zip")]
        public string? Zip { get; set; }

        [Display(Name = "City")]
        public string? City { get; set; }

        [Display(Name = "Country")]
        public string? Country { get; set; }
    }
}
