/* _content/RVParking/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ywwo6ucrft] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ywwo6ucrft] {
    flex: 1;
}

.sidebar[b-ywwo6ucrft] {
    background-image: linear-gradient(180deg, rgb(19, 75, 13) 0%, #a6e8a3 70%);
}

.top-row[b-ywwo6ucrft] {
    /*background-image: linear-gradient(90deg, darkgreen, white );*/
    /*color: white;*/
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ywwo6ucrft]  a, .top-row[b-ywwo6ucrft]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ywwo6ucrft]  a:hover, .top-row[b-ywwo6ucrft]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ywwo6ucrft]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ywwo6ucrft] {
        justify-content: space-between;
    }

    .top-row[b-ywwo6ucrft]  a, .top-row[b-ywwo6ucrft]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ywwo6ucrft] {
        flex-direction: row;
    }

    .sidebar[b-ywwo6ucrft] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ywwo6ucrft] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ywwo6ucrft]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ywwo6ucrft], article[b-ywwo6ucrft] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ywwo6ucrft] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ywwo6ucrft] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/RVParking/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-tslei4quuq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-tslei4quuq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-tslei4quuq] {
    min-height: 3.5rem;
    background-color: darkgreen;
    /*background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-tslei4quuq] {
    font-size: 1.1rem;
    background-color: darkgreen;
}

.bi[b-tslei4quuq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}
.bi-person-circle-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-circle' viewBox='0 0 16 16'%3E%3Cpath d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0'/%3E%3Cpath fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1'/%3E%3C/svg%3E");
}

.bi-person-add-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-add' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4'/%3E%3Cpath d='M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z'/%3E%3C/svg%3E");
}

.bi-book-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-book' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783'/%3E%3C/svg%3E");
}

.bi-envelope-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-envelope' viewBox='0 0 16 16'%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z'/%3E%3C/svg%3E");
}

.bi-house-door-fill-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-lock-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
}

.bi-person-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
}

.bi-person-badge-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-badge' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath d='M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z'/%3E%3C/svg%3E");
}

.bi-person-fill-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E");
}

.bi-arrow-bar-left-nav-menu[b-tslei4quuq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-bar-left' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z'/%3E%3C/svg%3E");
}

.nav-item[b-tslei4quuq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-tslei4quuq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-tslei4quuq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-tslei4quuq]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-tslei4quuq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-tslei4quuq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-tslei4quuq] {
    display: none;
    background-image: linear-gradient( darkgreen, darkolivegreen );
}

.navbar-toggler:checked ~ .nav-scrollable[b-tslei4quuq] {
    display: block;
}

@media (min-width: 614px) {
    .navbar-toggler[b-tslei4quuq] {
        display: none;
    }

    .nav-scrollable[b-tslei4quuq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/RVParking/Components/Pages/Home.razor.rz.scp.css */
body[b-5i2awdd6za] {
}
*[b-5i2awdd6za] {
    box-sizing: border-box;
}

body[b-5i2awdd6za] {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( darkgreen, darkolivegreen );
}
img[b-5i2awdd6za] {
    width: 100%;
    height: auto;
}
/* Style the header */
.header[b-5i2awdd6za] {
    background-color: #f1f1f1;
    /*padding: 30px;*/
    text-align: center;
    font-size: 35px;
}
.header-text[b-5i2awdd6za] {
    background-color: #0047ff;
    color: white;
    /*padding: 30px;*/
    text-align: center;
    font-size: 15px;
}
/* Container for flexboxes */
.row[b-5i2awdd6za] {
    display: -webkit-flex;
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column[b-5i2awdd6za] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*padding: 10px;*/
    /*height: 300px;  Should be removed. Only for demonstration */
}
/* Create three equal columns that sits next to each other */
.column-l[b-5i2awdd6za] {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    /*padding: 10px;*/
    /*height: 300px;  Should be removed. Only for demonstration */
}

/* Style the footer */
.footer[b-5i2awdd6za] {
    background-color: #f1f1f1;
    color: brown;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row[b-5i2awdd6za] {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
.container[b-5i2awdd6za] {
    position: relative;
    width: 400px;
    height: 300px;
}

.image[b-5i2awdd6za] {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}*/
/* Container holding the image and the text */
/*.container {
    position: relative;
    text-align: center;
    color: black;
}*/

/* Bottom left text */
/*.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}*/

/* Top left text */
/*.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}*/

/* Top right text */
/*.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.top-center {
    position: absolute;
    top: 8px;
    left: calc(100% - 50%);
    text-align: center;
    width: calc(300%);
    transform: translate(50%,50%);
}*/

/* Bottom right text */
/*.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}*/

/* Centered text */
/*.centered {
    position: absolute;
    top: calc(100% - 75%);
    left: calc(200% - 5%);
    text-align: center;
    transform: translate(50%,50%);
}*/
